Repository vagmcs/poetry-docker-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, docs, core, data, tests

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".pre-commit-config.yaml"]

build:
  - changed-files:
      - any-glob-to-any-file: ["pyproject.toml", "Makefile", ".python-version"]

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md"]

core:
  - changed-files:
      - any-glob-to-any-file: ["project/**", "notebooks/**"]

data:
  - changed-files:
      - any-glob-to-any-file: ["sql/**"]

tests:
  - changed-files:
      - any-glob-to-any-file: ["tests/**"]

🐛 fix: Corrects python version parsing
  README.md
  poetry_docker_plugin/plugin.py
Labels: docs

🐛 fix: Raise error for undefined vars
  poetry_docker_plugin/plugin.py
Labels: none

🔖 bump: version 0.5.0a0 → 0.5.1
  mkdocs/docs/release_notes/0.5.1.md
  pyproject.toml
Labels: build, docs

🐛 fix: Missing type hints
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

🐛 fix: Supports python version ranges
  poetry_docker_plugin/plugin.py
Labels: none

📝 docs: Rename image_tags to tags
  mkdocs/docs/index.md
Labels: docs

👷 build: Update Makefile
  Makefile
  tests/conftest.py
  tests/test_docker_builder.py
Labels: build, tests

🐛 fix: Fixes multi-platform push
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  poetry_docker_plugin/docker_builder.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_docker_builder.py
Labels: ci, build, tests

🔖 bump: version 0.5.1 → 0.5.2
  Makefile
  mkdocs/docs/release_notes/0.5.0.md
  mkdocs/docs/release_notes/0.5.2.md
  pyproject.toml
Labels: build, docs

📝 docs: Adds link to release notes
  mkdocs/mkdocs.yml
Labels: none

📝 docs: mkdocs update
  mkdocs/docs/release_notes/0.5.3.md
  pyproject.toml
Labels: build, docs

🔖 bump: version 0.5.3 → 0.5.4
  mkdocs/docs/release_notes/0.5.4.md
  pyproject.toml
Labels: build, docs

🐛 fix: Package_mode is false
  poetry_docker_plugin/plugin.py
Labels: none

⬆️ dep-bump: Update dependencies
  .gitignore
  .python-version
  README.md
  poetry.lock
  poetry_docker_plugin/plugin.py
  pyproject.toml
Labels: build, docs

📝 docs: mkdocs update
  mkdocs/mkdocs.yml
Labels: none
