Repository vagmcs/poetry-docker-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, docs, core, data, tests

ci: Install all dependencies for linting
  .github/workflows/tester.yml
Labels: ci

docs: Updates README
  README.md
Labels: docs

docs: Adds jinja templates for commitizen
  docs/templates/changelog.j2
  docs/templates/release_notes.j2
Labels: docs

🎉 init: Project structure
  .gitignore
  LICENSE
  Makefile
  README.md
  poetry.lock
  poetry_docker_plugin/__init__.py
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
  pyproject.toml
Labels: build, docs

👷 build: Minor improvements
  Makefile
  README.md
  poetry.lock
  pyproject.toml
Labels: build, docs

📝 docs: Adds docstrings for instructions
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

🔖 bump: version 0.1.0 → 0.2.0
  Makefile
  README.md
  poetry.lock
  pyproject.toml
Labels: build, docs

🔖 bump: version 0.2.1 → 0.2.2
  pyproject.toml
Labels: build

🐛 fix: Use double quotes on CMD and ENTRYPOINT commands
  Makefile
  poetry_docker_plugin/__init__.py
  poetry_docker_plugin/docker_builder.py
  pyproject.toml
Labels: build

🎨 style: Adds missing type hints
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

🐛 fix: Author name parsing regex
  poetry_docker_plugin/plugin.py
Labels: none

📝 docs: Includes a simple example in README.md
  README.md
Labels: docs

🎨 style: Imports docker command classes to __init__.py
  poetry_docker_plugin/__init__.py
Labels: none

🔖 bump: version 0.2.2 → 0.3.0
  pyproject.toml
Labels: build

✨ feat: Automatically decide python base package
  poetry_docker_plugin/plugin.py
Labels: none

🐛 fix: Support for author multiple names
  poetry_docker_plugin/plugin.py
Labels: none

✨ feat: Adds support for multi-image builds
  poetry.lock
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
  pyproject.toml
Labels: build

👷 build: Adds commitizen
  .cz.yaml
  docs/release_notes/0.4.0.md
  poetry_docker_plugin/plugin.py
  pyproject.toml
Labels: build, docs

✨ feat: Adds custom dockerfile name support
  poetry_docker_plugin/docker_builder.py
Labels: none

✨ feat: Adds support for platform
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

👷 build: Adds a git push tag command to Makefile
  Makefile
Labels: build

🔖 bump: version 0.4.0 → 0.5.0a0
  pyproject.toml
Labels: build

📝 docs: Updates README.md
  README.md
Labels: docs

👷 build: Adds changelog command to makefile
  Makefile
Labels: build

📝 docs: Simplifies README.md
  README.md
Labels: docs

📝 docs: Adds mkdocs documentation
  Makefile
  mkdocs/docs/release_notes/0.4.0.md
  mkdocs/docs/release_notes/0.5.0.md
  poetry.lock
  pyproject.toml
Labels: build, docs

👷 build: Update Makefile commands
  Makefile
  docs/release_notes/0.5.0.md
  pyproject.toml
Labels: build, docs

✨ feat: Adds CLI option for pushing images
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

👷 build: Updates libraries
  poetry.lock
  poetry_docker_plugin/plugin.py
  pyproject.toml
Labels: build

✨ feat: Adds proper multi-platform support
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

✨ feat: Adds commit sha and python version variables
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

✨ feat: Adds var CLI argument
  .python-version
  Makefile
  README.md
  poetry.lock
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
  pyproject.toml
Labels: build, docs

📝 docs: Adds basic documentation pages
  mkdocs/docs/index.md
  mkdocs/mkdocs.yml
Labels: docs

✨ feat: Adds CLI option for Dockerfile
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

✨ feat: Adds support for build arguments
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

✨ feat: Adds build-only CLI argument
  poetry_docker_plugin/plugin.py
Labels: none

👷 build: Updates commitizen config
  .cz.yaml
  poetry.lock
  pyproject.toml
Labels: build

🔖 bump: version 0.5.0 → 0.5.1a0
  .gitignore
  .python-version
  poetry.lock
  pyproject.toml
Labels: build

✨ feat: Adds support for multiple tags
  poetry_docker_plugin/docker_builder.py
  poetry_docker_plugin/plugin.py
Labels: none

✨ feat: Adds support for variables
  poetry_docker_plugin/plugin.py
Labels: none

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".pre-commit-config.yaml"]

build:
  - changed-files:
      - any-glob-to-any-file: ["pyproject.toml", "Makefile", ".python-version"]

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md"]

core:
  - changed-files:
      - any-glob-to-any-file: ["project/**", "notebooks/**"]

data:
  - changed-files:
      - any-glob-to-any-file: ["sql/**"]

tests:
  - changed-files:
      - any-glob-to-any-file: ["tests/**"]
